* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    font-family: 'Arial', sans-serif;
}

h1 {
    color: rgb(203, 203, 203);
    text-align: center;
    font-weight: 900;
    font-size: 8vw;
}

.wasserwaage-container {
    margin: auto;
    position: relative;
    width: 90%;
}

.wasserwaage {
    width: 100%;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.rotor {
    width: 9.5%;
    top: 40%;
    left: 81%;
    position: absolute;
    z-index: 2;
}

.rotor:hover {
    cursor: grab;
}

.bubble {
    z-index: 3;
    width: 1.8%;
    position: absolute;
}
