@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    font-family: 'Poppins';
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    font-weight: 300;
}

.content {
    width: 100%;
}

h1 {
    color: rgb(33, 41, 67);
    text-align: center;
    font-size: min(8vh, 8vw);
    user-select: none;
}

p {
    color: rgb(33, 41, 67);
    font-weight: bolder;
    font-size: max(1.5vw, 1rem);
}

#alpha,
#beta,
#gamma {
    text-align: center;
    white-space: nowrap;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 0 0.5rem;
}

.wasserwaage-container {
    margin: -8vw 0 -9vw 0;
    position: relative;
}

.wasserwaage {
    width: 100%;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.rotor {
    width: 9.5%;
    top: 40%;
    left: 81%;
    position: absolute;
    z-index: 2;
}

.rotor:hover {
    cursor: grab;
}

.bubble {
    z-index: 3;
    width: 1.8%;
    position: absolute;
    top: 0;
    left: 0;
}

.axis {
    height: min(3rem, 4vw);
    width: auto;
}

.gamma .axis {
    height: min(6.5rem, 7vw);
}

.alpha,
.beta,
.gamma {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 0 1rem;
}

.info {
    position: fixed;
    transform: translateY(-100%) translateX(-50%);
    top: 0;
    left: 50%;
    background-color: rgb(37, 37, 48);
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    animation: fadeIn 0.5s forwards;
    z-index: 10;
    box-shadow: 0 0 2rem -1rem black;
}

.info.hide {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
    0% {
        transform: translateY(-100%) translateX(-50%);
    }
    100% {
        transform: translateY(2em) translateX(-50%);
    }
}

@keyframes fadeOut {
    0% {
        transform: translateY(2em) translateX(-50%);
    }
    100% {
        transform: translateY(-100%) translateX(-50%);
    }
}
